body {
    font-family: var(--miller);
    // background-color: var(--primaryColor);
    // background-color: var(--primary-color);
    // #nav-plane {
    //     left: -280px;
    // }

    .body-active {
        background-color: var(--primaryColor);
    }

    .nav-active {
        background-color: var(--primaryColor3);
        color: white;
    }

    .hero-banner {
        background-image: url('/express-logistics.jpg');
    }

    .hero-text {
        animation: hero-text1 4s ease-in-out both;
    }

    @keyframes hero-text1{
        from {
          /* clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); */
          clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        //   transform: none;
      }
         to {
            /* clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%); */
            clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 0% 0%);
            // transform: scale(2);
            // color: white;  
        }
    }
    // @keyframes hero-text1{
    //     from {
    //       /* clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); */
    //       clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    //       transform: none;
    //   }
    //      to {
    //         /* clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%); */
    //         clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    //         // transform: scale(2);
    //         // color: white;  
    //     }
    // }

    // .api {
    //     transform-origin: center;
    //     transition: transform 2s ease-in-out;
    // }
   
    // .api.active {
    //     transform: rotate(360deg);
    //   }
      
}
